  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    border: 1px solid lightgray;
    min-width: 150px;
  }

  .dropdown-content a {
    display: block;
    padding: 6px;
    text-decoration: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
 
.navbar {
    background: black;
    padding: 20px;
}

.navbar a, .navbar .dropbtn {
  margin-right: 15px;
  color: white;
}

.navbar a:hover{
    color: gray;
}

.navbar a {
    text-decoration: none;
}

.car-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.car-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(231, 229, 229);
    border: 1px solid lightgray;
    border-radius: 5px;
}

.car-card a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.car-card a:hover {
    color: gray;
}

.car-info {
    font-style: italic;
    color: gray;
}

.details-card {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.detail-row {
    display: flex;
    gap: 20px; 
}

.detail-row .left {
    flex: 2;
    text-align: left;
}

.detail-row .center {
    flex: 4;
    text-align: center;
    white-space: nowrap; 
}

.detail-row .right {
    flex: 2;
    text-align: right;
}

.detail-row .full {
    flex: 1 1 100%;
    text-align: left;
}

.actions {
    display: flex;
    gap: 6px;
    margin-top: 20px;
    justify-content: center;
}