{% extends "base.html" %}

{% block head %}<title>Contact Details</title>{% endblock head %}

{% block content %}
<h1>Contact Details:</h1>
<div class="contact-list">
    <div class="contact-card">
        <p><strong>Name:</strong> {{contact.contact_name}}</p>
        <p><strong>|</strong></p>
        <p><strong>Phone Number:</strong> {{contact.phone_num}}</p>
    </div>
</div>

<div class="actions">
    <form action="{% url 'contact_update' contact.pk %}" method="get">
        {% csrf_token %}
        <button type="submit">Edit Contact</button>
    </form>
    <form action="{% url 'contact_delete' contact.pk %}" method="post">
        {% csrf_token %}
        <button>Delete Contact</button>
    </form>
</div>
{% endblock content %}